.container {
  justify-content: space-around;

  h1,
  h3 {
    text-align: center !important;
  }

  .row {
    margin: 20px auto;
  }

  .action-button-row {
    display: flex;
    justify-content: flex-start;
    gap: var(--layout-gap-size);
  }

  .tasks {
    display: inline-flex;
    flex-direction: column;
    margin: 5px;
    width: min(calc(100vw - var(--layout-padding)), var(--layout-width-max));
    gap: var(--layout-gap-size);

    mat-card {
      padding: var(--layout-padding);
      --mdc-elevated-card-container-shape: var(--card-border-radius);

      &.complete {
        opacity: 0.5;
        mat-card-title label {
          text-decoration: line-through;
        }
      }

      .low-priority,
      .high-priority {
        display: flex;
        align-items: flex-start;
        font-size: 14px;
      }

      .low-priority {
        color: var(--success-color);
      }

      .high-priority {
        color: var(--error-color);
      }

      &:hover {
        background-color: var(--primary-color-light);
      }

      label {
        cursor: pointer;
        display: flex;
        align-items: center;
        word-break: break-word;
      }

      mat-card-footer {
        font-size: 12px;
      }

      .delete-button,
      .edit-button {
        background-color: transparent;
      }

      .delete-button {
        &:hover {
          background-color: var(--error-color);
          color: var(--background-light-color);
        }
      }
    }
  }

  .spase-between {
    display: flex;
    justify-content: space-between;
  }

  .justify-center {
    display: flex;
    justify-content: center;
  }

  .add-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--filled-button);
    color: var(--background-light-color);
    z-index: 10;

    &:hover {
      animation: spin 0.75s ease-in-out;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
