@use "@angular/material" as mat;

@import "./variables";
@include mat.core();

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$pink-palette),
      accent: mat.define-palette(mat.$blue-grey-palette),
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$indigo-palette),
      accent: mat.define-palette(mat.$pink-palette),
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@media (prefers-color-scheme: light) {
  @include mat.all-component-themes($light-theme);
}

@media (prefers-color-scheme: dark) {
  @include mat.all-component-themes($dark-theme);
}
